NODE_ENV=development

GATEWAY_PORT=3000

AUTH_PORT=3001

USER_PORT=3002

DEVICE_PORT=3003

INVENTORY_PORT=3004

MAINTENANCE_PORT=3005



RABBITMQ_URL=amqp://guest:guest@localhost:5672


JWT_SECRET=tttn_c18_2026
JWT_EXPIRES_IN=7d
