PORT=3000

# Local development env
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
DEVICE_SERVICE_URL=http://localhost:3003
INVENTORY_SERVICE_URL=http://localhost:3004
MAINTENANCE_SERVICE_URL=http://localhost:3005
AI_SERVICE_URL=http://localhost:3006
AUDIT_SERVICE_URL=http://localhost:3007
REPORT_SERVICE_URL=http://localhost:3008
NOTIFICATION_SERVICE_URL=http://localhost:3009

TEST=gateway_loaded_env
